/* Default styles */
body {
	width: 100%;
	margin: auto;
	font-family: Verdana, Verdana, Geneva, sans-serif;
	font-size: 1em;
	line-height: 150%;
	color: #30AA8A;
	background-color: #DCDCDC;
}

/* Main page Container */
#main_container {
	width: 1024px;
	height: 768px;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-left: auto;
	margin-right:auto;
	background-image:url('images/background.jpg');
	background-image: {opacity:0.4;};
	background-repeat:no-repeat;
	background-position:center;
}

/* Language selection */
#language_selection {
	width: 410px;
	padding-left: 290px;
}

#webdesign-link h1 {
	text-align:center;
	padding-top: 20px;
	font-family: 'Simonetta', serif;
	color:#5e759a;
	text-shadow:1px 1px #fff;
	font-size: 50px; 
	font-style: normal; 
	font-weight: 400; 
	line-height: 50px;
}

#webdesign-link a {
	text-decoration:none;
	color:#5e759a;
}

/* Container */
#container {
	width: 1024px;
	height: 768px;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-left: auto;
	margin-right:auto;
	background-image:url('images/background.jpg');
	background-image: {opacity:0.5;};
	background-repeat: no-repeat;
	background-position:center
}

/* Title style */
#title {
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
}

#title h1 {
	font-size: 4em;
	text-align: center;
	color: #30AA8A;
}

#title h2 {
	font-size: 2em;
	text-align: center;
	color: #30AA8A;
}

/* Header style */
#header {
	height: 150px;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

#header h1 {
	font-size: 3em;
	text-align: center;
}

#header h2 {
	font-size: 1.3em;
	text-align: center;
}


/* Main style */
#main {
	height: 528px;
	padding-left: 50px;
	padding-right: 50px;
	color: #DCDCDC;
}

/* Footer style */
#footer {
	height: 100px;
	font-size: 0.8em;
	padding-left: 50px;
	padding-right: 50px;
	color: #DCDCDC;
}